#course .primary {
    margin-bottom: 30px;
}

#course .section-heading {
    font-weight: 600;
}

#course .course-box {
    min-height: 220px;
    margin: 0 auto;
}

#course .course-tilte {
    font-size: 30px;
    margin-bottom: 20px;
}

#course .course-item {
    font-size: 18px;
}
#course .course-item .fa {
    margin-right: 8px;
}
