#new_course_modal .modal-body form .col-md-12 {
    padding-bottom: 10px;
}
#new_course_modal .modal-body form .col-md-2 {
    margin-top: 6px;
    padding-left: 30px;
}

.table {
    background-color: #e6eae3;
}
tr, th, td {
    text-align: center;
    vertical-align: middle !important;
    font-size: 18px;
}

.fix-btn-position {
    margin-top: 20px;
}