.table {
    background-color: rgb(240, 240, 240);
}
tr, th, td {
    text-align: center;
    vertical-align: middle !important;
    font-size: 18px;
}

.member-img {
    max-width: 40px;
    max-height: 50px;
}

.btn {
    font-size: 16px;
}

.admin-color {
    color: red;
}
.normal-color {
    color: green;
}

#new_member_form .col-md-2 {
    margin-top: 7px;
    margin-bottom: 15px;
    padding-left: 20px;
}

#pwd_form .col-md-2, #pwd_username {
    margin-top: 7px;
    text-align: center;
}