#course .primary {
    margin-bottom: 30px;
}

.course-box {
    min-height: 220px;
    margin: 0 auto;
}

.course-tilte {
    font-size: 30px;
    margin-bottom: 20px;
}

.course-item {
    font-size: 18px;
}
.course-item .fa {
    margin-right: 8px;
}
