#member .section-heading {
    margin-top: 30px;
    font-weight: 600;
}
@media screen and (max-width: 580px) {
    #member .section-heading {
        text-align: center;
    }
}

/* adviser box of member */
#member .adviser-box {
    margin-bottom: 10px;
    min-height: 170px;
}
#member .adviser-box div {
    vertical-align: middle;
    padding: 5px 0px 5px 0px;
}
#member .adviser-box img {
    height: 155px;
    width: 130px;
    margin-left: 5px;
}
#member .adviser-box p {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 18px;
    color: rgb(51, 51, 51);
}
#member .adviser-box .fa {
    margin-right: 5px;
}

/* student box of member */
#member .student-box {
    margin-bottom: 20px;
    min-height: 150px;
}
#member .student-box div {
    vertical-align: middle;
    margin: 1em 0;
}
#member .student-box img {
    height: 120px;
    width: 95px;
}
#member .student-box p{
    font-size: 16px;
    line-height: 30px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: rgb(51, 51, 51);
}
#member .student-box .fa {
    margin-right: 2px;
}

/* centered columns styles */
#member .row-centered {
    text-align: center;
}
#member .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right:-4px;
}

@media screen and (max-width: 699px) {
    #member .adviser-box,
    #member .student-box {
        margin-top: 18px;
        text-align: center;
    }
    #member .adviser-box img,
    #member .student-box img {
        margin-bottom: 5px;
    }
    #member .adviser-box p,
    #member .student-box p {
        margin-bottom: 8px;
        line-height: 16px;
        font-size: 14px;
    }
}