#member .section-heading {
    margin-top: 30px;
    font-weight: 600;
}
@media screen and (max-width: 580px) {
    #member .section-heading {
        text-align: center;
    }
}

/* adviser box of member */
#member .adviser-box {
    margin-bottom: 10px;
    min-height: 170px;
}
#member .adviser-box div {
    vertical-align: middle;
    padding: 5px 0px 5px 0px;
}
#member .adviser-box img {
    height: 155px;
    width: 130px;
    margin-left: 5px;
}
#member .adviser-box p {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 18px;
}
#member .adviser-box .fa {
    margin-right: 5px;
}

/* student box of member */
#member .student-box {
    margin-bottom: 20px;
    min-height: 150px;
}
#member .student-box div {
    vertical-align: middle;
    margin: 1em 0;
}
#member .student-box img {
    height: 120px;
    width: 95px;
}
#member .student-box p{
    font-size: 16px;
    line-height: 30px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
}
#member .student-box .fa {
    margin-right: 2px;
}

/* centered columns styles */
#member .row-centered {
    text-align: center;
}
#member .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right:-4px;
}

#member a {
    color: rgb(51, 51, 51);
}

#member .adviser-box:hover,
#member .student-box:hover {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-dialog {
    width: 90%;
    height: 90%;
    margin: 35px auto;
    padding: 0;
}
.modal-content {
    height: 99%;
    border-radius: 0px;
    overflow: scroll;
    /*padding-right: 15px;*/
}
.modal-header {
    background-color: #FFF;
    position: fixed;
    z-index:1;
    top: 1px;
    width: 98%;
    padding: 5px 5px;
}
.modal-header > .modal-title {
    font-weight: 600;
    font-size: 22px;
}
.modal-header > .close span {
    font-size: 40px;
}
.modal-body {
    max-height: 90vh; /*Sets the maximum height of the modal body to 90% of the screen height*/
    padding: 45px 30px 15px 30px;
}
.modal-title {
    margin-top: 5px;
}

@media screen and (max-width: 1100px) {
    .modal-header {
        width: 97.7%;
    }
}

@media screen and (max-width: 700px) {
    .adviser-box,
    .student-box {
        margin-top: 18px;
        text-align: center;
    }
    .adviser-box img,
    .student-box img {
        margin-bottom: 5px;
    }
    .adviser-box p,
    .student-box p {
        margin-bottom: 8px;
        line-height: 16px;
        font-size: 14px;
    }

    .modal-dialog {
        width: 95%;
        height: 95%;
        margin: 15px auto;
        padding: 0;
    }
    .modal-header {
        width: 96.5%;
    }
    .modal-header > .modal-title {
        font-weight: 600;
        font-size: 20px;
    }
    .modal-header > .close span {
        font-size: 30px;
    }
}

@media screen and (min-width: 1300px) {
    .modal-dialog {
        width: 1200px;
        height: 90%;
        margin: 35px auto;
        padding: 0;
    }
    .modal-header {
        width: 1185px;
    }
    .modal-header > .modal-title {
        font-weight: 600;
        font-size: 20px;
    }
    .modal-header > .close span {
        font-size: 30px;
    }
}

/* Change the Bootstrap Modal effect */
.fade-scale {
    opacity: 0;
    transform: scale(0);
    -webkit-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear;
}
.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}
