#research {
  position: relative;
  width: 100%;
  min-height: 400px;
          background-size: cover;
       -o-background-size: cover;
     -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center top;
  background-image: url('../img/PPCB/iceberg.jpg');
  text-align: center;
  color: white;
}

#research .section-heading {
    font-weight: 600;
    color: #ea5550;
}

#research .primary {
    margin-bottom: 40px;
}

/* Collapse Style */
#research .panel-group .panel {
    margin: 10px 10px;
    background-color: rgba(255, 255, 255, .4);
    border-color: rgba(0, 0, 0, .0);
}
#research .panel-heading {
    margin: 0px 0px;
    padding: 5px 0px;
    background-color: rgba(255, 255, 255, .5);
}
#research .panel-heading:hover {
    background-color: rgb(210, 210, 210);
    border-width: 0px;
}
#research .panel-title {
    margin: 5px 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: rgb(240, 95, 64);
}
#research .panel-body {
    color: rgb(0, 0, 0);
    font-size: 16px;
    max-height: 700px;
    min-height: 250px;
    overflow: auto;
}
#research .thumbnail {
    background-color: rgba(255, 255, 255, .0);
    border-color: rgba(255, 255, 255, .0);
}

#research .paper-group {
    margin-bottom: 15px;
    border-bottom: 4px dashed #00A1E9;
    cursor: pointer;
}
#research .paper-group:last-child {
    margin-bottom: 15px;
    border-width: 0px;
}
#research .paper-group:hover {
    background-color: rgba(0, 0, 0, .25);
    border: 3px solid #00A1E9;
    border-radius: 7px;
}

#research .paper-group img {
    max-width:  230px;
}
#research .paper-text-box p {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}
#research .paper-text-box p:first-child {
    font-size: 24px;
    font-weight: 600;
}

/* research modal style */
#research .modal-body {
    padding: 20px 20px;
}
#research .modal-body .row,
#research .modal-body [class *= col-] {
    height: 100%;
}

#display-box {
    height: 100%;
    display: table-cell;
    text-align: center;
}

.display-img {
    max-height: 600px;
    max-width: 450px;
    border: 3px solid rgba(210, 210, 210, .7);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.content-box {
    height: 70%;
    padding: 15px 15px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    overflow-y: auto !important;
}

.content-box p:first-child {
    font-size: 24px;
    font-weight: 600;
}

.thumbnail-box {
    height: 30% !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.thumbnail-box * {
    display: inline-block;
}
.thumbnail-img {
    max-height: 200px;
    max-width: 200px;
    margin: 5px 5px;
    border-radius: 3px;
    /*
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    */
}
.thumbnail-img:hover {
    border: 2px solid #00A1E9;
}

@media screen and (max-width: 1300px){
    #research .paper-group img {
        max-height: 180px;
        max-width:  150px;
    }
    #research .paper-text-box p {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .display-img {
        max-height: 510px;
        max-width:  370px;
    }
    .thumbnail-img {
        max-height: 160px;
    }
}
@media screen and (max-width: 1150px){
    #research .paper-text-box p {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #research .display-img {
        max-height: 430px;
        max-width: 310px;
    }

    .thumbnail-img {
        max-height: 130px;
    }

    .display-img {
        top: 60px;
    }
    .thumbnail-box {
        top: 0%;
    }

}
@media screen and (max-width: 992px){
    #research .panel-body {
        max-height: 650px;
    }
    #research .paper-text-box p {
        margin-top: 12px;
        margin-bottom: 0px;
    }
    #research .paper-group {
        margin-bottom: 35px;
    }

    .thumbnail-img {
        max-height: 160px;
        max-width:  140px;
    }
}
@media screen and (max-width: 600px){
    #research .panel-body {
        max-height: 450px;
    }
    #research .paper-group {
        padding-bottom: 15px;
    }
    #research .paper-group img {
        max-width:  210px;
    }

    #research .display-img {
        max-height: 400px;
        width: 280px;
    }

    #research .paper-text-box p:first-child {
        font-size: 16px;
    }
}
